# Node dependencies
node_modules/

# Build directories
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Misc
*.tmp
